<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <files>
        <f>resources\test.out</f>
    </files>
    <pattern>
        <p name="Test">^(.*?)-(.*?)-(.*?)-(.*?)$</p>
        <p name="STF">^&lt;(.+)&gt;(.+?):.*\[(.+?):(.+? )(.*)\]:(.+)$</p>
        <p name="Test">^(.*)$</p>
    </pattern>
    <filter>
        <f name="Empty"></f>
        <f name="Error">2:ERROR</f>
    </filter>
</settings>
